<h1>プロフィール編集</h1>

<%= form_with model: @user do |f| %>
  <div>
    <%= f.label :name, "名前" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email, "メール" %>
    <%= f.email_field :email %>
  </div>

  <%= f.submit "更新する" %>
<% end %>