<h1>ユーザー一覧</h1>

<%= form_with url: admin_users_path, method: :get, local: true do |f| %>
  <%= f.text_field :keyword, value: params[:keyword], placeholder: "名前・メールで検索" %>
  <%= f.submit "検索" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to "destroy", admin_user_path(user), 
            method: :delete,
            data: { confirm: "本当に削除しますか？"}  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>